# PostgreSQL
DATABASE_USER=tchap_bot
DATABASE_PASSWORD=changeme
DATABASE_NAME=tchap_bot

# Matrix / Tchap
MATRIX_DOMAIN=xxx
MATRIX_SERVER_URL=xxx
TCHAP_USERNAME=xxx
TCHAP_PASSWORD=xxx
DEFAULT_ROOM_ID=xxx

